/*general terms of the site*/

* {
    box-sizing: border-box;
}
:root {
    --base-color: #08a6e4;
    --base-color-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --button-radius: 35px;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}
body {
    font-family: var(--font-open-sans);
}
a {
    text-decoration: none;
}
.container {
    width: 1352px;
    margin: 0 auto;
}

/*header menu*/

.header {
    height: 70px;
    box-shadow: 0 3px 6px #00000029;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.logo {
    color: var(--base-color);
    font-family: var(--font-raleway);
    font-weight: 300;
    font-size: 32px;
}
.header-nav {
    display: flex;
}
.nav-link {
    font-family: var(--font-open-sans);
    font-weight: 700;
    color: var(--color-grey);
    font-size: 0.6875rem;
    padding: 28px 18px 22px;
    border: 4px solid transparent;
    letter-spacing: 0.1875rem;
}
.nav-link:hover {
    color: var(--color-black);
    border-bottom-color: var(--base-color);
}
.nav-element {
    padding: 0 26px;
}
.nav-element:last-child {
    padding-right: 0;
}

/*banner - 1 page*/

.opening {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.opening-content {
    margin-top: 130px;
    text-align: center;
}
.opening-header {
    font-family: var(--font-raleway);
    font-size: 3.0625rem;
}
.paragraph-opening {
    margin-top: 20px;
    margin-bottom: 38px;
}
.opening-image {
    width: 100%;
    height: auto;
}
.btn {
    color: var(--color-white);
    font-family: var(--font-open-sans);
    text-align: center;
    font-weight: 700;
    display: inline-block;
    border-radius: var(--button-radius);
    border: none;
    justify-content: center;
    padding: 16px 65px;
}
.btn-opening-content {
    background-color: var(--base-color);
    box-shadow: 5px 10px 14px var(--base-color-shadow);
}
.btn-large {
    padding: 22px 157px;
}

/*smaller header after page 1*/

.statistics {
    margin-top: 100px;
}
.statistics-container {
    display: flex;
    max-width: 800px;
    margin: 100px auto 120px;
    justify-content: space-between;
}
h2 {
    font-family: var(--font-raleway);
    font-weight: 400;
    font-size: 2.25rem;
}
.statistics h2 {
    text-align: center;
}
.single-statistics {
    max-width: 160px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: var(--font-raleway);
}
.statistics-circle {
    position: relative;
    border-radius: 50%;
    width: 63px;
    height: 63px;
}
.statistics-img {
    position: absolute;
}
.single-statistics:nth-child(1) .statistics-circle {
    background-color: var(--color-redish);
}
.single-statistics:nth-child(1) .statistics__img {
    top: 7px;
    left: 45%;
}
.single-statistics:nth-child(2) .statistics-circle {
    background-color: var(--base-color);
}
.single-statistics:nth-child(2) .statistics-img {
    top: 15px;
    left: 45%;
}
.single-statistics:nth-child(3) .statistics-circle {
    background-color: var(--color-green);
}
.single-statistics:nth-child(3) .statistics-img {
    top: 6px;
    left: 43%;
}
.statistics-number {
    padding-top: 13px;
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.1875rem;
}
.statistics-description {
    padding-top: 19px;
    color: var(--color-grey);
    font-size: 1.0625rem;
}

/*articles page 2*/

.benefits {
    padding: 105px 0;
    background-color: var(--color-light-grey);
}
.benefits-container {
    padding: 0 100px;
}
.benefits-single {
    display: flex;
    margin-bottom: 37px;
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 5px;
}
.benefits-text {
    max-width: 416px;
    margin: 90px 36px;
}
.benefits-text::after {
    content: "";
    background-color: var(--accent-color);
    height: 4px;
    width: 328px;
    display: block;
    margin-top: 50px;
}
.benefits-description {
    margin-top: 30px;
}
.benefits-image {
    position: relative;
}
.benefits-image img {
    position: relative;
    z-index: 2;
}
.benefits-single-notebook {
    --accent-color: var(--color-redish);
}
.benefits-single-notebook .benefits-image {
    margin-right: 117px;
    margin-top: 38px;
}
.benefits-single-notebook .benefits-image::before {
    background-color: var(--accent-color);
    content: "";
    width: 180px;
    height: 180px;
    display: block;
    border-radius: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    transform: rotate(45deg);
}
.benefits-single-notebook .benefits-image img {
    width: 386px;
    height: auto;
}
.benefits-single-phone {
    --accent-color: var(--base-color);
    flex-direction: row-reverse;
    padding: 0 29px 0 70px;
}
.benefits-single-phone .benefits-image::before {
    background-color: var(--accent-color);
    content: "";
    width: 320px;
    height: 320px;
    display: block;
    border-radius: 40px;
    position: absolute;
    left: 0;
    top: -10px;
    border-radius: 50%;
}
.benefits-single-phone .benefits-image img {
    width: 426px;
    height: auto;
}
.benefits-single-phone .benefits-text {
    margin: 70px 0;
}
.benefits-double {
    display: flex;
    --accent-color: var(--color-green);
}
.benefits-double > div {
    margin-bottom: 0;
}
.benefits-single-solo {
    max-width: 620px;
}
.benefits-single-solo .benefits-text {
    max-width: none;
    margin: 70px 35px;
}
.benefits-single-image {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border: none;
    margin-left: 60px;
}
.benefits-single-image img {
    width: 295px;
    height: auto;
    margin-top: 55px;
}

/*pricing page*/

.pricing {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pricing-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.pricing-box {
    width: 370px;
    display: flex;
    align-items: center;
    border: 1px solid var(--accent-color);
    flex-direction: column;
    border-radius: 18px;
}
.pricing-details {
   margin-top: 34px;
   margin-bottom: 60px;
   text-align: center;
}
.pricing-type {
    font-family: var(--font-raleway);
    font-size: 1.25rem;
    font-weight: 700;
}
.pricing-price {
    font-family: var(--font-open-sans);
    font-size: 2.875rem;
    font-weight: 300;
    margin-top: 25px;
    color: var(--accent-color);
}
.pricing-limited {
    font-family: var(--font-raleway);
    font-weight: 700;
    font-size: 0.75rem;
    margin-top: 15px;
    text-align: center;
}
.pricing-items {
    text-align: center;
}
.pricing-item {
    margin-bottom: 20px;
    font-size: 0.875rem;
}
.pricing-item::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Checkmark.svg");
}
.pricing-item--not::before {
    background-image: url(../assets/Close.svg);
}
.pricing-box-basic li:nth-of-type(n+4):before {
    background-image: url(../assets/Close.svg);
}
.pricing-box-professional li:last-child::before {
    background-image: url(../assets/Close.svg);
}
.pricing-box .btn {
    position: relative;
    bottom: -25px;
    font-size: 0.8125rem;
    background-color: var(--accent-color);
}
.pricing-box-basic {
    --accent-color: var(--color-redish);
}
.pricing-box-basic .pricing-price {
    margin-bottom: 30px;
}
.pricing-box-professional {
    width: 400px;
    --accent-color: var(--base-color);
    margin: 0 40px;
    box-shadow: 5px 1px 27px var(--base-color-shadow);
}
.pricing-box-professional .pricing-type {
    font-size: 1.3125rem;
}
.pricing-box-professional .pricing-item {
    margin-bottom: 25px;
}
.pricing-box-premium {
    --accent-color: var(--color-green);
}

/*contact form*/

.contact {
    padding: 80px 100px 100px;
    display: flex;
    justify-content: center;
}
.contact-column {
    width: 50%;
  }
  .contact-title {
      font-size: 3.0625rem;
      line-height: 3.6875rem;
  }
  .contact-instruction {
    margin: 22px 0 42px;
    font-size: 1rem;
    line-height: 1.375rem;
  }
  .contact-details {
      display: flex;
      color: var(--color-grey);
      align-items: center;
  }
  .details-item {
      color: var(--color-grey);
      font-weight: 700;
      text-decoration: none;
  }
  .details-item:first-of-type {
      margin-right: 20px;
  }
  .details-item img {
      margin-right: 10px;
  }
  .form {
      display: flex;
      flex-direction: column;
  }
  .form-field {
      display: flex;
      flex-direction: column;
  }
  .form-field:first-of-type {
      margin-bottom: 42px;
  }
  .form-label {
      font-weight: bold;
      text-transform: uppercase;
      color: var(--base-color);
      line-height: 0.9rem;
      letter-spacing: 3px;
      font-size: 0.6875rem;
  }
.form-input {
    border: none;
    border-bottom: 1px solid var(--color-grey);
    background-color: transparent;
    line-height: 2.625rem;
}
.form-consent {
    margin-top: 30px;
}
.form-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.375rem;
}
.form-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.form-checkbox .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--color-white);
    border: 1px solid var(--color-grey);
    border-radius: 4px;
}
.form-checkbox input:checked ~ .checkbox {
    background-image: url(../assets/Checkmark.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}
.form-checkbox .consent-text {
    margin: 0 10px;
    font-size: 0.75rem;
    color: var(--color-grey);
    line-height: 17px;
}
.form .btn {
    font-size: 0.8125rem;
    padding: 20px 97px;
    align-self: flex-end;
    margin-top: 20px;
    background-color: var(--base-color);
}

/*footer*/

.footer {
    box-shadow: 0 -5px 40px #00000029;
    padding: 20px 0;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer-copy {
    font-size: 0.6875rem;
    line-height: 1.5rem;
    color: var(--color-grey);
    margin-top: 6px;
  }
  .footer-icons a:first-of-type {
    margin-right: 25px;
  }